/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 210, 210, 210;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    margin: 0px;
}

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, .5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  pointer-events: all;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
} */

.modalWindow {
  background-color: rgb(255, 255, 255);
  border-radius: .25em;
  position: relative;
  padding: 10px;
  min-width: 80%;
}


main {
  display: flex;
  flex-direction: column;
  flex-direction: column;
}

/* button {
  padding-top: "2px";
  padding-bottom: "2px";
} */